body {
    background-color: darkgray;
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
}

p {
    background-color: darkgrey;
    text-align: center;
    text-decoration: underline;
}

footer{
    text-align:center;
}